{% load static from staticfiles %}

<!DOCTYPE html>
<html ng-app="tastyApp">

<head>
	<title>Sample app</title>
	<script type="text/javascript" src="{% static "js/angular.js" %}"></script>
	<script type="text/javascript" src="{% static "js/tester.js" %}"></script>
	<script type="text/javascript" src="{% static "js/restangular.js" %}"></script>
    <script type="text/javascript" src="{% static "js/angular-resource.js" %}"></script>
    <script type="text/javascript" src="{% static "js/underscore-min.js" %}"></script>
</head>
<body>
	hello world
	{% verbatim %}
		<div ng-controller="TastyController">
			<h2>Tasty stuff: {{ getTotalPies() }} </h2>

			<ul>
				<li ng-repeat="e in entry">
					<span>{{ e.body }}</span>
				</li>
			</ul>

		</div>
	{% endverbatim %}
</body>
</html>